<div id="flex">
    <img src="" alt="loading...">

    <div class="text-area">
        <div class="mat-display-1">Feeling Prepared?</div>
        <div class="mat-display-1">Register For {{subject}}</div>
        <div class="hr-div">
            <hr class="hr-line">
        </div>

        <div class="register-schedule-div">
            <button class="register-schedule-btn" mat-raised-button>Register</button>

            <button class="register-schedule-btn" mat-raised-button>Schedule</button>
        </div>
    </div>

</div>

<div class="control-banner">
    <button></button>
</div>