<div id="navBar">
    <a href="">Home</a>
    <a href="">Register</a>
    <a href="">Olympiads</a>
    <a href="">About Us</a>
    <a href="">FAQ's</a>
    <a href="">Contact Us</a>
    <button class="login" mat-raised-button>Login</button>
</div>

<div id="flex">
    <img src="" alt="loading...">

    <div class="text-area">
        <div class="mat-display-1">Feeling Prepared?</div>
        <div class="mat-display-1">Register for</div>
        <div class="hr-div">
            <hr class="hr-line">
        </div>

        <div class="register-schedule-div">
            <button class="register-schedule-btn" mat-raised-button>Register</button>

            <button class="register-schedule-btn" mat-raised-button>Schedule</button>
        </div>
    </div>

</div>

<div class="control-banner">
    <button></button>
</div>
