#navBar {
    background-color: whitesmoke;
    overflow: hidden;
    margin-top: 20px;
}

#navBar a {
    color:  black;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navBar a:hover {
    background-color: #00C496;
    color: white;
}

#navBar a.active {
    padding: 16px 18px;
}

.login {
    position: relative;
    float: right;
    right: 20px;
    margin-top: 5px;
    border: 1px solid #00C496;
    border-radius: 5px;
}

.login:hover {
    background-color: #00C496;
    color: white;
}
